<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>杂志管理</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<link rel="stylesheet" href="new/colorPicker/themes/nano.min.css"/>
	<style type="text/css">
		#div1{
			width: 30px;
			height: 30px;
			border: #000 solid 0px;
			margin: 30px auto;
			/* overflow: hidden; */
		}
		#div1 img{
			cursor: pointer;
			transition: all 0.6s;
		}
		#div1 img:hover{
			transform: scale(10);
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">杂志管理</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="templateName" class="form-control" style="height:35px" placeholder="杂志名称"/>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<select name="state" class="form-control" style="height:35px">
											<option value="">是否上架</option>
											<option value="0">上架</option>
											<option value="1">下架</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button class="btn btn-info add">添加</button>
							<button class="btn btn-info edit">修改</button>
							<button class="btn btn-info delete">删除</button>
							<button class="btn btn-info addRank">添加虚拟用户</button>
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<div class="modal fade" id="modal-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">温馨提示</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p>您确定要删除选中杂志吗？</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary float-right deleteBtn">确定</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" id="modal-6">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">添加杂志</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<input type="hidden" name="readingNumber" value="0"/>
					<input type="hidden" name="soldNumber" value="0"/>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">杂志名称</label>
								<input type="text" class="form-control" name="templateName" placeholder="杂志名称"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">杂志名称颜色</label>
								<button type="button" class="btn btn-rounded btn-primary" onclick="showColorPicker(this)">颜色拾取器</button>
								<input type="hidden" name="nameColor" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">封面图</label>
								<input class="btn btn-info" id="coverImageUrlFile" name="coverImageUrlFile"
									   onchange="uploadMainFile(this,'2')" placeholder="封面图"
									   type="file"/>
								<img alt="" name="coverImage" src="" style="display:none;"/>
								<img alt="" name="okPic" src="new/ok.png" style="display:none;"/>
								<input class="form-control" name="coverImageUrl" type="hidden"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">轮播图</label>
								<input class="btn btn-info" id="imageUrlFile" name="imageUrlFile"
									   onchange="uploadMainFile(this,'0')" placeholder="轮播图"
									   type="file"/>
								<img alt="" name="image" src="" style="display:none;"/>
								<img alt="" name="okPic" src="new/ok.png" style="display:none;"/>
								<input class="form-control" name="imageUrl" type="hidden"/>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-secondary btn-sm" id="addCoverElementBtn" onclick="addCoverElement(this)">增加轮播图</button>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">音频</label>
								<input class="btn btn-info" id="audioUrlFile" name="audioUrlFile"
									   onchange="uploadMainFile(this,'1')" placeholder="音频"
									   type="file"/>
								<img alt="" name="okPic" src="new/ok.png" style="display:none;"/>
								<input class="form-control" name="audioUrl" type="hidden"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">订阅数量</label>
								<input type="text" class="form-control" name="subscribeSum" placeholder="订阅数量" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">页数</label>
								<input type="text" class="form-control" name="pagesSum" placeholder="页数" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">价格</label>
								<input type="number" class="form-control" id="field-6" name="price" placeholder="单价" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">状态</label>
								<select class="form-control" name="state" readonly="readonly">
									<option value="0">上架</option>
									<option value="1" selected="selected">下架</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">福利1</label>
								<input type="text" class="form-control" name="welfare1" placeholder="福利1"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">福利2</label>
								<input type="text" class="form-control" name="welfare2" placeholder="福利2"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">福利3</label>
								<input type="text" class="form-control" name="welfare3" placeholder="福利3"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">备注</label>
								<input type="text" class="form-control" name="remark" placeholder="备注"/>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-info save">保存</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; padding-right: 17px;" aria-modal="true" id="modal-7">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">虚拟用户详情</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form role="form" id="userForm">
				</form>
				<button type="button" class="btn btn-info" onclick="addUserRow()">增加虚拟用户</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-info waves-effect saveRank">保存</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script src="new/colorPicker/pickr.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

	var ROW = `
\t\t\t\t\t<div class="row">
\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t<label class="control-label">虚拟用户</label>
\t\t\t\t\t\t\t\t<select class="form-control" name="userId">
\t\t\t\t\t\t\t\t</select>
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t</div>
\t\t\t\t\t\t<div class="col-md-6">
\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t<label class="control-label">购买数</label>
\t\t\t\t\t\t\t\t<input type="number" class="form-control" name="count" placeholder="购买数" />
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t</div>
\t\t\t\t\t</div>
	`;

	var COVER_ELE = `
\t\t\t\t\t<div class="row delMe">
\t\t\t\t\t\t<div class="col-md-12">
\t\t\t\t\t\t\t<div class="form-group">
\t\t\t\t\t\t\t\t<label class="control-label">轮播图</label>
\t\t\t\t\t\t\t\t<input class="btn btn-info" id="imageUrlFile" name="imageUrlFile"
\t\t\t\t\t\t\t\t\t   onchange="uploadMainFile(this,'0')" placeholder="轮播图"
\t\t\t\t\t\t\t\t\t   type="file"/>
\t\t\t\t\t\t\t\t<img alt="" name="image" src="" style="display:none;"/>
\t\t\t\t\t\t\t\t<img alt="" name="okPic" src="new/ok.png" style="display:none;"/>
\t\t\t\t\t\t\t\t<input class="form-control" name="imageUrl" type="hidden"/>
\t\t\t\t\t\t\t\t<button type="button" class="btn btn-rounded btn-danger" onclick="delNode(this)">删除</button>
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t</div>
\t\t\t\t\t</div>
	`;

	var OPTION = "";

	let pickr = null;

	function showColorPicker(self) {
		var that = $(self);
		var colorEle = that.parent().find("input[name='nameColor']");
		var color = colorEle.val() ? colorEle.val() : "#42445a";
		// Delete previous instance
		if (pickr) {
			pickr.destroyAndRemove();
		}
		that.after(`<p id="colorPickerEle"></p>`);
		// Create fresh instance
		pickr = Pickr.create({
			el: '#colorPickerEle',
			theme: 'nano', // or 'monolith', or 'nano'
			defaultRepresentation: 'HEX',
			default: color,
			swatches: [
				'rgba(244, 67, 54, 1)',
				'rgba(233, 30, 99, 0.95)',
				'rgba(156, 39, 176, 0.9)',
				'rgba(103, 58, 183, 0.85)',
				'rgba(63, 81, 181, 0.8)',
				'rgba(33, 150, 243, 0.75)',
				'rgba(3, 169, 244, 0.7)'
			],
			components: {
				preview: true,
				opacity: true,
				hue: true,
				interaction: {
					hex: false,
					rgba: false,
					hsva: false,
					input: true,
					clear: true,
					save: true
				}
			}
		});
		pickr.on('init', instance => {
			console.log('init', instance);
		}).on('hide', instance => {
			console.log('hide', instance);
		}).on('show', (color, instance) => {
			console.log('show', color, instance);
		}).on('save', (color, instance) => {
			console.log('save', color, instance);
			pickr.hide();
			console.log(color.toHEXA().toString());
			colorEle.val(color.toHEXA().toString());
		}).on('clear', instance => {
			console.log('clear', instance);
		}).on('change', (color, instance) => {
			console.log('change', color, instance);
		}).on('changestop', instance => {
			console.log('changestop', instance);
		}).on('cancel', instance => {
			console.log('cancel', instance);
		}).on('swatchselect', (color, instance) => {
			console.log('swatchselect', color, instance);
		});
		pickr.show();
	}

	function addUserRow() {
		$("#userForm").append(ROW);
		setOption();
	}

	function delNode(self) {
		var that = $(self);
		that.parent().parent().remove();
	}

	function addCoverElement(self, obj) {
		var that = $(self);
		that.before(COVER_ELE);
	}

	function setOption() {
		var obj = $("#userForm").find("select[name='userId']").last();
		if (OPTION != "") {
			obj.html(OPTION);
		}
	}

	function gotoTemplate(id) {
		window.open('/config.html?pid=' + id, "_blank");
	}

	function uploadMainFile(self, type) {
		var that = $(self);
		that.parent().find("img[name='okPic']").hide();
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				bl = false;
				if (type == '1') {
					sizevideo = 50;
					bl = true;
				}
				upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					if (type == "0") {
						that.parent().find("[name=imageUrl]").val(url);
						that.parent().find("[name=image]").attr("src", url);
						that.parent().find("[name=image]").attr("width", "100px");
						that.parent().find("[name=image]").attr("height", "100px");
						that.parent().find("[name=image]").show();
					} else if (type == "1") {
						that.parent().find("[name=audioUrl]").val(url);
					}else if (type == "2"){
						that.parent().find("[name=coverImageUrl]").val(url);
						that.parent().find("[name=coverImage]").attr("src", url);
						that.parent().find("[name=coverImage]").attr("width", "100px");
						that.parent().find("[name=coverImage]").attr("height", "100px");
						that.parent().find("[name=coverImage]").show();
					}
					that.parent().find("img[name='okPic']").show();
				}, bl);
			}, "0");
		} else {
			confirm("未选择任何文件!");
		}
	}

	function getQNToken(cb,bol) {
		var param = {};
		if (bol == 1) {
			param["isVideo"] = 1;
		}
		$.get("/qiniu/token_video", param, function (token) {
			cb(token);
		});
	}

	function upload(param, token, file, next, error, complete,isAudio) {
		if (file == '') {
			complete('');
		} else {
			var filename = file.name;
			var postf = filename.substring(filename.lastIndexOf("."));

			var config = {
				useCdnDomain: true,
				region: qiniu.region.z0
			};
			if (isAudio){
				var filename = file.name;
				var postf = filename.substring(filename.lastIndexOf("."));
				var putExtra = {
					fname: "",
					params: {"x:param": param},
					mimeType: ["audio/mp3"] || null
				};
				var newFileName = "audio/wx/" + UUID.randomUUID() + postf;
				var observable = qiniu.upload(file, newFileName, token,
						putExtra, config);
				observable.subscribe(next, error, complete);
			}else {
				var putExtra = {
					fname: "",
					params: {"x:param": param},
					mimeType: ["image/png", "image/jpeg", "image/gif"] || null
				};
				/* var observable = qiniu.upload(file, "image/wx/"+UUID.randomUUID()+postf, token,
                        putExtra, config); */
				var fname = filename.replace(postf, "");
				var observable = qiniu.upload(file, "image/wx/" + param + "/" + (new Date().getTime()) + postf, token,
						putExtra, config);
				var subscription = observable.subscribe(next, error, complete);
			}

		}
	}

	var theId = "";
	var qiniuUrl = [[${qiniuUrl}]];
	jQuery(document).ready(function ($) {
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/goods-data",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			order: [[0, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
					render: function (data, type, full, meta) {
						var uuid = UUID.randomUUID();
						return '<div class="checkbox"><input type="checkbox" name="templateId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "templateName",
					title: "杂志名称"
				},
                {
                    targets: 3,
                    data: "imageUrl",
                    title: "电子刊封面",
                    render: function (data, type, full, meta) {
                        if (data) {
                            return "<img style='height: 180px; width: 135px' src=" + data.split(",")[0] + "></img>";
                        } else {
                            return "";
                        }
                    }
                },
				{
					targets: 4,
					data: "subscribeSum",
					title: "订阅数量"
				},
				{
					targets: 5,
					data: "pagesSum",
					title: "页数"
				},
				{
					targets: 6,
					data: "price",
					title: "单价"
				},
				{
					targets: 7,
					data: "state",
					title: "状态",
					render: function (data, type, full, meta) {
						/** 状态[0-上架,1-下架] **/
						if (data == "0") {
							return "上架";
						} else {
							return "下架";
						}
					}
				},
				{
					targets: 8,
					data: "id",
					title: "预览",
					render: function (data, type, row, meta) {
						return '<div id="div1"><img src="http://qr.topscan.com/api.php?text=https://h5.offway.cn/magazine?type=list%26id=AAA" /></div>'.replace("AAA",data);
					}
				},
				{
					targets: 9,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 10,
					data: "id",
					title: "内容管理",
					render: function (data, type, row, meta) {
						return `<button type="button" class="btn btn-rounded btn-warning" onclick="gotoTemplate(AA)">管理</button>`.replace("AA", data);
					}
				},
				{
					targets: 11,
					data: "remark",
					title: "备注"
				}
			]
		});

		if (OPTION == "") {
			$.get("/phUsers-get-faker", {}, function (data) {
				var str = "";
				for (var i of data) {
					str += "<option value='AA'>BB</option>".replace("AA", i["id"]).replace("BB", i["nickname"]);
				}
				OPTION = str;
			});
		}

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw();  //or fnReloadAjax()
			return false;
		});

		$('#example-1').on('click', "#checkbox-all", function () {
			var obj = $(this);
			$("input[name='templateId']").each(function (i, e) {
				this.checked = obj[0].checked;
			});
		});

		$(".btn.btn-info.delete").click(function () {
			var templateId = $("input[name='templateId']:checked");
			if (templateId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			jQuery('#modal-1').modal('show', {backdrop: 'fade'});
		});

		$(".deleteBtn").click(function () {
			var ids = [];
			$("input[name='templateId']:checked").each(function (i, e) {
				ids.push(e.value);
			});
			$.post("/goods-delete", {
				ids: ids
			}, function (data) {
				if (data) {
					jQuery('#modal-1').modal('hide');
					toastr.success("您的操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败,请稍后再试", "温馨提示");
				}
			});
			return false;
		});

        $(".btn.btn-info.add").click(function () {
            var form = $("#saveForm");
            form.find("input[name='id']").val("");
            form.find("input[name='templateName']").val("");
            form.find("select[name='state']").val("1");
            form.find("input[name='subscribeSum']").val("0");
            form.find("input[name='pagesSum']").val("0");
            form.find("input[name='remark']").val("");
            form.find("div.delMe").remove();
            form.find("img").hide();
            jQuery('#modal-6').modal('show', {backdrop: 'fade'});
        });

		//保存
		$(".btn.btn-info.save").click(function () {
			var form = $("#saveForm");
			$.post("/goods-save", form.serializeArray(), function (data) {
				if (data) {
					jQuery('#modal-6').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function () {
			var templateId = $("input[name='templateId']:checked");
			if (templateId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}
            var form = $("#saveForm");
            form.find("div.delMe").remove();
            form.find("img").hide();
			$.get("/goods-one", {id: templateId.val()}, function (data) {
				var i = 0;
				for (var img of data.imageUrl.split(",")) {
					if (i > 0) {
						addCoverElement("#addCoverElementBtn", img);
					}
					i++;
					form.find("input[name='imageUrl']").last().val(img);
					form.parent().find("[name=image]").last().attr("src", img);
					form.parent().find("[name=image]").last().attr("width", "100px");
					form.parent().find("[name=image]").last().attr("height", "100px");
					form.parent().find("[name=image]").last().show();
				}
				form.find("input[name='audioUrl']").val(data.audioUrl);
				form.find("input[name='id']").val(data.id);
				form.find("input[name='price']").val(data.price);
				form.find("input[name='templateName']").val(data.templateName);
				form.find("select[name='state']").val(data.state);
				form.find("input[name='subscribeSum']").val(data.subscribeSum);
				form.find("input[name='pagesSum']").val(data.pagesSum);
				form.find("input[name='remark']").val(data.remark);
				form.find("input[name='readingNumber']").val(data.readingNumber);
				form.find("input[name='soldNumber']").val(data.soldNumber);
				form.find("input[name='welfare1']").val(data.welfare1);
				form.find("input[name='welfare2']").val(data.welfare2);
				form.find("input[name='welfare3']").val(data.welfare3);
				form.find("input[name='nameColor']").val(data.nameColor);
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			});
		});

		$(".btn.btn-info.addRank").click(function () {
			var templateId = $("input[name='templateId']:checked");
			if (templateId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}
			$.get("/goods-rank", {gid: templateId.val()}, function (data) {
				var form = $("#userForm");
				form.empty();
				console.log(data);
				for (var obj of data) {
					if (obj["userId"] >= 50000) {
						addUserRow();
						form.find("select[name='userId']").last().val(obj["userId"]);
						form.find("input[name='count']").last().val(obj["count"]);
					}
				}
				theId = templateId.val();
				jQuery('#modal-7').modal('show', {backdrop: 'fade'});
			});
		});

		$(".btn.btn-info.waves-effect.saveRank").click(function () {
			var form = $("#userForm");
			var param = form.serializeArray();
			param.push({"name": "gid", "value": theId});//append gid
			$.post("/goods-rank-add", param, function (data) {
				if (data) {
					jQuery('#modal-7').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
				} else {
					toastr.error("操作失败", "温馨提示");
				}
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>