<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>杂志管理</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">杂志管理</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="templateName" class="form-control" style="height:35px" placeholder="杂志名称"/>
									</div>
								</div>
								<div class="form-group ">
									<div class="input-group">
										<select name="state" class="form-control" style="height:35px">
											<option value="">是否上架</option>
											<option value="0">上架</option>
											<option value="1">下架</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button class="btn btn-info add">添加</button>
							<button class="btn btn-info edit">修改</button>
							<button class="btn btn-info delete">删除</button>
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<div class="modal fade" id="modal-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">温馨提示</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p>您确定要删除选中杂志吗？</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary float-right deleteBtn">确定</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" id="modal-6">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">添加杂志</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">杂志名称</label>
								<input type="text" class="form-control" name="templateName" placeholder="杂志名称"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">订阅数量</label>
								<input type="text" class="form-control" name="subscribeSum" placeholder="订阅数量" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">页数</label>
								<input type="text" class="form-control" name="pagesSum" placeholder="页数" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">状态</label>
								<select class="form-control" name="state" readonly="readonly">
									<option value="0">上架</option>
									<option value="1" selected="selected">下架</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">备注</label>
								<input type="text" class="form-control" name="remark" placeholder="备注"/>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-info save">保存</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script th:inline="javascript">
	/*<![CDATA[*/
	jQuery(document).ready(function ($) {
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/goods-data",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			order: [[0, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
					render: function (data, type, full, meta) {
						var uuid = UUID.randomUUID();
						return '<div class="checkbox"><input type="checkbox" name="templateId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "templateName",
					title: "杂志名称"
				},
				{
					targets: 3,
					data: "subscribeSum",
					title: "订阅数量"
				},
				{
					targets: 4,
					data: "pagesSum",
					title: "页数"
				},
				{
					targets: 5,
					data: "state",
					title: "状态",
					render: function (data, type, full, meta) {
						/** 状态[0-上架,1-下架] **/
						if (data == "0") {
							return "上架";
						} else {
							return "下架";
						}
					}
				},
				{
					targets: 6,
					data: "remark",
					title: "备注"
				},
				{
					targets: 7,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				}
			]
		});

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw();  //or fnReloadAjax()
			return false;
		});

		$('#example-1').on('click', "#checkbox-all", function () {
			var obj = $(this);
			$("input[name='templateId']").each(function (i, e) {
				this.checked = obj[0].checked;
			});
		});

		$(".btn.btn-info.delete").click(function () {
			var templateId = $("input[name='templateId']:checked");
			if (templateId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			jQuery('#modal-1').modal('show', {backdrop: 'fade'});
		});

		$(".deleteBtn").click(function () {
			var ids = '';
			$("input[name='templateId']:checked").each(function (i, e) {
				ids += e.value + ",";
			});
			$.post("/goods-delete", {
				ids: ids
			}, function (data) {
				if (data) {
					jQuery('#modal-1').modal('hide');
					toastr.success("您的操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败,请稍后再试", "温馨提示");
				}
			});
			return false;
		});

		$(".btn.btn-info.add").click(function () {
			var form = $("#saveForm");
			form.find("input[name='id']").val("");
			form.find("input[name='templateName']").val("");
			form.find("select[name='state']").val("1");
			form.find("input[name='subscribeSum']").val("0");
			form.find("input[name='pagesSum']").val("0");
			form.find("input[name='remark']").val("");
			jQuery('#modal-6').modal('show', {backdrop: 'fade'});
		});

		//保存
		$(".btn.btn-info.save").click(function () {
			var form = $("#saveForm");
			$.post("/goods-save", form.serializeArray(), function (data) {
				if (data) {
					jQuery('#modal-6').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function () {
			var templateId = $("input[name='templateId']:checked");
			if (templateId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}
			$.get("/goods-one", {id: templateId.val()}, function (data) {
				var form = $("#saveForm");
				form.find("input[name='id']").val(data.id);
				form.find("input[name='templateName']").val(data.templateName);
				form.find("select[name='state']").val(data.state);
				form.find("input[name='subscribeSum']").val(data.subscribeSum);
				form.find("input[name='pagesSum']").val(data.pagesSum);
				form.find("input[name='remark']").val(data.remark);
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>