<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="head"></head>
    <title>新加模板</title>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <link href="assets/js/select2/select2.css" rel="stylesheet"/>
    <link href="assets/js/select2/select2-bootstrap.css" rel="stylesheet"/>
    <link href="assets/js/multiselect/css/multi-select.css" rel="stylesheet"/>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="navbar"></header>
    <aside th:replace="sidebar-menu"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header d-none d-md-block">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="page-title br-0">新加模板</h3>
                </div>
                <div class="right-title">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="panel-body">
                <form class="form-horizontal" id="saveForm" role="form">
                    <input type="hidden" name="goodsId" />
                    <input type="hidden" name="templateConfigId" />
                    <input type="hidden" name="templateIdEdit" />
                    <input type="hidden" name="lockId" />
                    <input type="hidden" name="createTime" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">类型</label>
                            <div class="radio">
                                <input checked="checked" id="type_1" name="type" type="radio"
                                       value="0"/>
                                <label for="type_1">底图</label>
                                <input id="type_2" name="type" type="radio" value="1"/>
                                <label for="type_2">无边框</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <div class="row form-group" id="imageUnder">
                                <label class="control-label">底图</label>
                                <input class="btn btn-info" id="imageUnderFile" name="imageUnderFile"
                                       onchange="uploadMainFile(this,'0')" placeholder="底图"
                                       type="file"/>
                                <img alt="" name="imageUnder" src="" style="display:none;"/>
                                <input class="form-control" name="imageUnderUrl" type="hidden"/>
                            </div>
                            <div class="row form-group" id="video">
                                <label class="control-label">视频</label>
                                <input class="btn btn-info" id="videoFile" name="videoFile"
                                       onchange="uploadMainFile(this,'1')" placeholder="视频"
                                       type="file"/>
                                <a id="videoA" name="videoA" style="display: none" href="">点击下载视频</a>
                                <input class="form-control" name="videoUrl" type="hidden"/>
                            </div>
                            <div class="row form-group" id="videoCoverDiv">
                                <label class="control-label">视频封面</label>
                                    <input class="btn btn-info" id="videoCoverFile" name="videoCoverFile"
                                           onchange="uploadMainFile(this,'2')" placeholder="视频封面"
                                           type="file"/>
                                    <img alt="" id="imageThree" name="videoCover" src="" style="display:none;"/>
                                    <input class="form-control" id="videoCoverUrl" name="videoCoverUrl" type="hidden"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7">
                            <label class="control-label">解锁</label>
                            <div class="radio">
                                <input checked="checked" id="unlock_1" name="islock" onclick="unlockRadio('0')"
                                       type="radio"
                                       value="0"/>
                                <label for="unlock_1">开放</label>
                            </div>
                            <div class="radio">
                                <input id="unlock_2" name="islock" onclick="unlockRadio('1')" type="radio" value="1"/>
                                <label for="unlock_2">解锁条件</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7" id="unlockText" style="display: none">
                            <label class="control-label">订阅数</label>
                            <input class="form-control" id="subscribeCount" name="subscribeCount" type="text"/>
                            <input checked="checked" id="contentType_1" name="contentType" onclick="contentRadio('0')" type="radio"
                                   value="0"/>
                            <label for="contentType_1">文字</label>
                            <input id="contentType_2" name="contentType" type="radio" onclick="contentRadio('1')" value="1"/>
                            <label for="contentType_2">图片</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7" id="prompt" style="display: none">

                            <input class="form-control" id="promptText" name="promptText" type="text"/>
                        </div>
                        <div class="form-group col-md-7" id="mage">

                            <input class="btn btn-info" id="promptImageFile" name="promptImageFile"
                                   onchange="uploadMainFile(this,'3')" placeholder="视频封面"
                                   type="file"/>
                            <img alt="" id="promptImageThree" name="promptImageThree" src="" style="display:none;"/>
                            <input class="form-control" id="promptImagerUrl" name="promptImage" type="hidden"/>
                        </div>
                    </div>
                    <div class="actions clearfix">
                        <button class="btn btn-success save" type="button">保存</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <footer th:replace="footer"></footer>
</div>

<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/multiselect/js/jquery.multi-select.js"></script>
<script th:inline="javascript">

    function unlockRadio(type) {
        if (type == "1") {
            $("#unlockText").show();
        } else {
            $("#unlockText").hide();
            $("#promptText").val("");
            $("#subscribeCount").val("");
        }
    }
    
    function contentRadio(type) {
        if (type == "0") {
            $("#prompt").show();
            $("#mage").hide();
            $("#promptImageThree").attr("src", "");
            $("#promptImagerUrl").val("");
        } else {
            $("#mage").show();
            $("#prompt").hide();
            $("#promptText").val("");
        }
    }

    function editTemplate(data) {
        var form = $("#saveForm");
        form.find("input[name=type][value="+data["type"]+"]").attr("checked",true);
        form.find("input[name='createTime']").val(new Date(data["createTime"]).Format("yyyy-MM-dd hh:mm:ss"));
        form.find("input[name='imageUnderUrl']").val(data["imageUnderUrl"]);
        form.find("[name=imageUnder]").attr("src", data["imageUnderUrl"]);
        form.find("[name=imageUnder]").attr("width", "100px");
        form.find("[name=imageUnder]").attr("height", "100px");
        form.find("[name=imageUnder]").show();
        form.find("input[name='videoUrl']").val(data["videoUrl"]);
        form.find("[name='videoA']").attr("href",data["videoUrl"]);
        form.find("[name='videoA']").show();
        form.find("input[name='videoCoverUrl']").val(data["videoCoverUrl"]);
        form.find("[name=videoCover]").attr("src", data["videoCoverUrl"]);
        form.find("[name=videoCover]").attr("width", "100px");
        form.find("[name=videoCover]").attr("height", "100px");
        form.find("[name=videoCover]").show();
    }

    function editIslock(data) {
        var form = $("#saveForm");
        form.find("input[name=islock][value="+data["islock"]+"]").attr("checked",true);
        if (data["islock"] == "1"){
            $("#unlockText").show();
            form.find("input[name='promptText']").val(data["promptText"]);
            form.find("input[name='subscribeCount']").val(data["subscribeCount"]);
            form.find("input[name=contentType][value="+data["contentType"]+"]").attr("checked",true);
            if (data["contentType"] == "1"){
                form.find("[name=promptImage]").val(data["promptImage"]);
                form.find("[name=promptImageThree]").attr("src", data["promptImage"]);
                form.find("[name=promptImageThree]").attr("width", "100px");
                form.find("[name=promptImageThree]").attr("height", "100px");
                form.find("[name=promptImageThree]").show();
            }
            contentRadio(data["contentType"]);
        }else {
            $("#unlockText").hide();
            $("#promptText").val("");
            $("#subscribeCount").val("");
        }
    }

    function uploadMainFile(self, type) {
        var that = $(self);
        if (self.files.length > 0) {
            var file = self.files[0];
            getQNToken(function (token) {
                bl= false;
                if (type=='1'){
                    sizevideo = 50;
                    bl =true;
                }
                upload("", token, file, function () {
                    //
                }, function (err) {
                    console.log("error");
                    console.log(err);
                }, function (res) {
                    var url = qiniuUrl + "/" + res.key;
                    if (type == "0") {
                        that.parent().find("[name=imageUnderUrl]").val(url);
                        that.parent().find("[name=imageUnder]").attr("src", url);
                        that.parent().find("[name=imageUnder]").attr("width", "100px");
                        that.parent().find("[name=imageUnder]").attr("height", "100px");
                        that.parent().find("[name=imageUnder]").show();
                    } else if (type == "1") {
                        that.parent().find("[name=videoUrl]").val(url);
                        that.parent().find("[name=videoA]").attr("href", url);
                        that.parent().find("[name=videoA]").show();
                    } else if (type == "2") {
                        that.parent().find("[name=videoCoverUrl]").val(url);
                        that.parent().find("[name=videoCover]").attr("src", url);
                        that.parent().find("[name=videoCover]").attr("width", "100px");
                        that.parent().find("[name=videoCover]").attr("height", "100px");
                        that.parent().find("[name=videoCover]").show();
                    }else if (type == "3") {
                        that.parent().find("[name=promptImage]").val(url);
                        that.parent().find("[name=promptImageThree]").attr("src", url);
                        that.parent().find("[name=promptImageThree]").attr("width", "100px");
                        that.parent().find("[name=promptImageThree]").attr("height", "100px");
                        that.parent().find("[name=promptImageThree]").show();
                    }
                },bl);
            },type);
        } else {
            confirm("未选择任何文件!");
        }
    }

    function upload(param, token, file, next, error, complete,isVideo) {
        if (file == '') {
            complete('');
        } else {
            var filename = file.name;
            var postf = filename.substring(filename.lastIndexOf("."));

            var config = {
                useCdnDomain: true,
                region: qiniu.region.z0
            };
            if (isVideo){
                var filename = file.name;
                var postf = filename.substring(filename.lastIndexOf("."));
                var putExtra = {
                    fname: "",
                    params: {"x:param": param},
                    mimeType: ["video/x-flv", "video/mp4", "video/3gpp", "video/quicktime", "video/x-msvideo", "video/x-ms-wmv"] || null
                };
                var newFileName = "video/wx/" + UUID.randomUUID() + postf;
                var observable = qiniu.upload(file, newFileName, token,
                    putExtra, config);
                observable.subscribe(next, error, complete);
            }else {
                var putExtra = {
                    fname: "",
                    params: {"x:param": param},
                    mimeType: ["image/png", "image/jpeg", "image/gif"] || null
                };
                /* var observable = qiniu.upload(file, "image/wx/"+UUID.randomUUID()+postf, token,
                        putExtra, config); */
                var fname = filename.replace(postf, "");
                var observable = qiniu.upload(file, "image/wx/" + param + "/" + (new Date().getTime()) + postf, token,
                    putExtra, config);
                var subscription = observable.subscribe(next, error, complete);
            }

        }
    }

    function getQNToken(cb,bol) {
        var param = {};
        if (bol == 1) {
            param["isVideo"] = 1;
        }
        $.get("/qiniu/token_video", param, function (token) {
            cb(token);
        });
    }

    var qiniuUrl = [[${qiniuUrl}]];
    var goodsId = [[${goodsId}]];
    var templateId = [[${templateId}]];
    var templateConfigId = [[${templateConfigId}]];
    /*<![CDATA[*/
    jQuery(document).ready(function ($) {
        if (goodsId != ""){
            $("#saveForm").find("input[name='goodsId']").val(goodsId);
        }
        if (templateConfigId != ""){
            $("#saveForm").find("input[name='templateConfigId']").val(templateConfigId);
        }
        if (goodsId != "" && templateId != ""){
            $.post("/template5_findone",{"goodsId":goodsId,"templateId":templateId},function (data) {
                template5 = data["template5"];
                lock = data["lock"];
                var form = $("#saveForm");
                form.find("input[name='templateIdEdit']").val(template5["id"]);
                form.find("input[name='lockId']").val(lock["id"]);
                editTemplate(template5);
                editIslock(lock);
            });
        }
        $(".btn.btn-success.save").click(function () {
            var form = $("#saveForm");
            var type = form.find("input[name='type']:checked").val();
            var imageOneUrl = form.find("input[name='imageUnderUrl']").val();
            var imageTwoUrl = form.find("input[name='videoUrl']").val();
            var imageThreeUrl = form.find("input[name='videoCoverUrl']").val();
            var unlock = form.find("input[name='unlock']:checked").val();
            var subscribeCount = form.find("input[name='subscribeCount']").val();
            var promptText = form.find("input[name='promptText']").val();

            if (type == "0" && imageOneUrl == ""){
                toastr.error("底图为必填项", "温馨提示");
                return;
            }
            if(imageTwoUrl == "" || imageThreeUrl == ""){
                toastr.error("视频/视频封面为必填项", "温馨提示");
                return;
            }
            if(unlock == "1") {
                if (subscribeCount == "" || promptText == ""){
                    toastr.error("订阅数/提示文字为必填项", "温馨提示");
                    return;
                }
            }
            var postData = $("#saveForm").serializeArray();
            postData.push({"name": "templateId", "value": form.find("input[name='templateIdEdit']").val()});
            $.post("/template5_save", postData, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    setTimeout(function () {
                        window.close();
                    }, 1000);
                } else {
                    toastr.error("操作失败!", "温馨提示");
                }
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>