<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="head"></head>
    <title>新加模板</title>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <link href="assets/js/select2/select2.css" rel="stylesheet"/>
    <link href="assets/js/select2/select2-bootstrap.css" rel="stylesheet"/>
    <link href="assets/js/multiselect/css/multi-select.css" rel="stylesheet"/>
    <link href="new/colorPicker/themes/nano.min.css" rel="stylesheet"/>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="navbar"></header>
    <aside th:replace="sidebar-menu"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header d-none d-md-block">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="page-title br-0">新加模板</h3>
                </div>
                <div class="right-title">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="panel-body">
                <form class="form-horizontal" id="saveForm" role="form">
                    <input name="goodsId" type="hidden"/>
                    <input name="templateConfigId" type="hidden"/>
                    <input name="templateIdEdit" type="hidden"/>
                    <input name="lockId" type="hidden"/>
                    <input name="createTime" type="hidden"/>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">类型</label>
                            <div class="radio">
                                <input checked="checked" id="type_1" name="type" type="radio"
                                       value="0"/>
                                <label for="type_1">底图</label>
                                <input id="type_2" name="type" type="radio" value="1"/>
                                <label for="type_2">无边框</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <div class="row form-group" id="imageUnder">
                                <label class="control-label">底图</label>
                                <input class="btn btn-info" id="imageUnderFile" name="imageUnderFile"
                                       onchange="uploadMainFile(this,'0')" placeholder="底图"
                                       type="file"/>
                                <img alt="" name="imageUnder" src="" style="display:none;"/>
                                <input class="form-control" name="imageUnderUrl" type="hidden"/>
                                <img alt="" name="okPic" src="new/ok.png" style="display:none;"/>
                            </div>
                            <div class="row form-group" id="video">
                                <label class="control-label">视频</label>
                                <input class="btn btn-info" id="videoFile" name="videoFile"
                                       onchange="uploadMainFile(this,'1')" placeholder="视频"
                                       type="file"/>
                                <a href="" id="videoA" name="videoA" style="display: none">点击下载视频</a>
                                <input class="form-control" name="videoUrl" type="hidden"/>
                                <img alt="" name="okPic" src="new/ok.png" style="display:none;"/>
                            </div>
                            <div class="row form-group" id="videoCoverDiv">
                                <label class="control-label">视频封面</label>
                                <input class="btn btn-info" id="videoCoverFile" name="videoCoverFile"
                                       onchange="uploadMainFile(this,'2')" placeholder="视频封面"
                                       type="file"/>
                                <img alt="" id="imageThree" name="videoCover" src="" style="display:none;"/>
                                <input class="form-control" id="videoCoverUrl" name="videoCoverUrl" type="hidden"/>
                                <img alt="" name="okPic" src="new/ok.png" style=" display:none;"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7">
                            <label class="control-label">解锁</label>
                            <div class="radio">
                                <input checked="checked" id="unlock_1" name="islock" onclick="unlockRadio('0')"
                                       type="radio"
                                       value="0"/>
                                <label for="unlock_1">开放</label>
                            </div>
                            <div class="radio">
                                <input id="unlock_2" name="islock" onclick="unlockRadio('1')" type="radio" value="1"/>
                                <label for="unlock_2">解锁条件</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7" id="unlockText" style="display: none">
                            <label class="control-label">订阅数</label>
                            <input class="form-control" id="subscribeCount" name="subscribeCount" type="text"/>
                            <input checked="checked" id="contentType_1" name="contentType" onclick="contentRadio('0')"
                                   type="radio" value="0"/>
                            <label for="contentType_1">文字</label>
                            <input id="contentType_2" name="contentType" onclick="contentRadio('1')" type="radio"
                                   value="1"/>
                            <label for="contentType_2">图片</label>
                        </div>
                    </div>
                    <div class="row" id="unlockCfg" style="display: none">
                        <div class="form-group col-md-7" id="prompt" style="display: block">
                            <textarea class="form-control" id="promptText" name="promptText" rows="5"/>
                            <input class="form-control" name="remarkBtn" onclick="showFont(this)" type="button"
                                   value="设置字体"/>
                            <input id="remark" name="attribute" type="hidden"/>
                        </div>
                        <div class="form-group col-md-7" id="mage" style="display: none">
                            <input class="btn btn-info" id="promptImageFile" name="promptImageFile"
                                   onchange="uploadMainFile(this,'3')" type="file"/>
                            <img alt="" id="promptImageThree" name="promptImageThree" src="" style="display:none;"/>
                            <input class="form-control" id="promptImagerUrl" name="promptImage" type="hidden"/>
                            <img alt="" id="okPic" name="okPic" src="new/ok.png" style="display:none;"/>
                        </div>
                    </div>
                    <div class="actions clearfix">
                        <button class="btn btn-success save" type="button">保存</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <footer th:replace="footer"></footer>
</div>

<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bs-example-modal-lg" id="modal-2"
     role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">字体设置</h4>
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            </div>
            <div class="modal-body">
                <form id="fontForm" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class=" control-label">大小</label>
                                <div class="col-md-12">
                                    <input name="size" placeholder="像素大小" type="number"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class=" control-label">颜色</label>
                                <div class="col-md-12">
                                    <button class="btn btn-rounded btn-primary" onclick="showColorPicker(this)"
                                            type="button">颜色拾取器
                                    </button>
                                    <input name="color" type="hidden"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger waves-effect text-left" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-info save" onclick="saveFont()" type="button">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/multiselect/js/jquery.multi-select.js"></script>
<script src="new/colorPicker/pickr.min.js"></script>
<script th:inline="javascript">

    var THE_FONT_BTN;

    function showFont(self) {
        THE_FONT_BTN = $(self);
        var remarkStr = THE_FONT_BTN.parent().find("input[name='attribute']").val();
        if (remarkStr != "") {
            var obj = {
                "size": "0",
                "color": "#42445a",
            };
            try {
                obj = JSON.parse(remarkStr);
            } catch (e) {
                console.log("JSON ERROR")
            }
            var form = $("#fontForm");
            form.find("input[name='size']").val(obj["size"]);
            form.find("input[name='color']").val(obj["color"]);
        }
        jQuery('#modal-2').modal('show', {backdrop: 'fade'});
    }

    function saveFont() {
        var form = $("#fontForm");
        var size = form.find("input[name='size']").val();
        var color = form.find("input[name='color']").val();
        if (THE_FONT_BTN) {
            var remarkEle = THE_FONT_BTN.parent().find("input[name='attribute']");
            var jsonObj = {
                "size": size,
                "color": color
            };
            remarkEle.val(JSON.stringify(jsonObj));
        }
        jQuery('#modal-2').modal('hide');
    }

    let pickr = null;

    function showColorPicker(self) {
        var that = $(self);
        var colorEle = that.parent().find("input[name='color']");
        var color = colorEle.val() ? colorEle.val() : "#42445a";
        // Delete previous instance
        if (pickr) {
            pickr.destroyAndRemove();
        }
        that.after(`<p id="colorPickerEle"></p>`);
        // Create fresh instance
        pickr = Pickr.create({
            el: '#colorPickerEle',
            theme: 'nano', // or 'monolith', or 'nano'
            defaultRepresentation: 'HEX',
            default: color,
            swatches: [
                'rgba(244, 67, 54, 1)',
                'rgba(233, 30, 99, 0.95)',
                'rgba(156, 39, 176, 0.9)',
                'rgba(103, 58, 183, 0.85)',
                'rgba(63, 81, 181, 0.8)',
                'rgba(33, 150, 243, 0.75)',
                'rgba(3, 169, 244, 0.7)'
            ],
            components: {
                preview: true,
                opacity: true,
                hue: true,
                interaction: {
                    hex: false,
                    rgba: false,
                    hsva: false,
                    input: true,
                    clear: true,
                    save: true
                }
            }
        });
        pickr.on('init', instance => {
            console.log('init', instance);
        }).on('hide', instance => {
            console.log('hide', instance);
        }).on('show', (color, instance) => {
            console.log('show', color, instance);
        }).on('save', (color, instance) => {
            console.log('save', color, instance);
            pickr.hide();
            console.log(color.toHEXA().toString());
            colorEle.val(color.toHEXA().toString());
        }).on('clear', instance => {
            console.log('clear', instance);
        }).on('change', (color, instance) => {
            console.log('change', color, instance);
        }).on('changestop', instance => {
            console.log('changestop', instance);
        }).on('cancel', instance => {
            console.log('cancel', instance);
        }).on('swatchselect', (color, instance) => {
            console.log('swatchselect', color, instance);
        });
        pickr.show();
    }

    function unlockRadio(type) {
        if (type == "1") {
            $("#unlockCfg").show();
            $("#unlockText").show();
        } else {
            $("#unlockCfg").hide();
            $("#unlockText").hide();
            $("#promptText").val("");
            $("#remark").val("");
            $("#subscribeCount").val("");
        }
    }

    function contentRadio(type) {
        if (type == "0") {
            $("#prompt").show();
            $("#mage").hide();
            $("#promptImageThree").attr("src", "");
            $("#promptImagerUrl").val("");
            $("#okPic").hide();
        } else {
            $("#mage").show();
            $("#prompt").hide();
            $("#promptText").val("");
            $("#remark").val("");
            $("#okPic").hide();
        }
    }

    function editTemplate(data) {
        var form = $("#saveForm");
        form.find("input[name=type][value=" + data["type"] + "]").attr("checked", true);
        form.find("input[name='createTime']").val(new Date(data["createTime"]).Format("yyyy-MM-dd hh:mm:ss"));
        form.find("input[name='imageUnderUrl']").val(data["imageUnderUrl"]);
        form.find("[name=imageUnder]").attr("src", data["imageUnderUrl"]);
        form.find("[name=imageUnder]").attr("width", "100px");
        form.find("[name=imageUnder]").attr("height", "100px");
        form.find("[name=imageUnder]").show();
        form.find("input[name='videoUrl']").val(data["videoUrl"]);
        form.find("[name='videoA']").attr("href", data["videoUrl"]);
        form.find("[name='videoA']").show();
        form.find("input[name='videoCoverUrl']").val(data["videoCoverUrl"]);
        form.find("[name=videoCover]").attr("src", data["videoCoverUrl"]);
        form.find("[name=videoCover]").attr("width", "100px");
        form.find("[name=videoCover]").attr("height", "100px");
        form.find("[name=videoCover]").show();
    }

    function editIslock(data) {
        var form = $("#saveForm");
        form.find("input[name=islock][value=" + data["islock"] + "]").attr("checked", true);
        if (data["islock"] == "1") {
            $("#unlockText").show();
            form.find("textarea[name='promptText']").val(data["promptText"]);
            form.find("input[name='attribute']").val(data["attribute"]);
            form.find("input[name='subscribeCount']").val(data["subscribeCount"]);
            form.find("input[name=contentType][value=" + data["contentType"] + "]").attr("checked", true);
            if (data["contentType"] == "1") {
                form.find("[name=promptImage]").val(data["promptImage"]);
                form.find("[name=promptImageThree]").attr("src", data["promptImage"]);
                form.find("[name=promptImageThree]").attr("width", "100px");
                form.find("[name=promptImageThree]").attr("height", "100px");
                form.find("[name=promptImageThree]").show();
            }
            contentRadio(data["contentType"]);
        } else {
            $("#unlockText").hide();
            $("#promptText").val("");
            $("#subscribeCount").val("");
        }
    }

    function uploadMainFile(self, type) {
        $(".btn.btn-success.save").hide();
        var that = $(self);
        if (self.files.length > 0) {
            var file = self.files[0];
            getQNToken(function (token) {
                bl = false;
                if (type == '1') {
                    sizevideo = 50;
                    bl = true;
                }
                upload("", token, file, function () {
                    //
                }, function (err) {
                    console.log("error");
                    console.log(err);
                }, function (res) {
                    var url = qiniuUrl + "/" + res.key;
                    if (type == "0") {
                        that.parent().find("[name=imageUnderUrl]").val(url);
                        that.parent().find("[name=imageUnder]").attr("src", url);
                        that.parent().find("[name=imageUnder]").attr("width", "100px");
                        that.parent().find("[name=imageUnder]").attr("height", "100px");
                        that.parent().find("[name=imageUnder]").show();
                    } else if (type == "1") {
                        that.parent().find("[name=videoUrl]").val(url);
                        that.parent().find("[name=videoA]").attr("href", url);
                        that.parent().find("[name=videoA]").show();
                    } else if (type == "2") {
                        that.parent().find("[name=videoCoverUrl]").val(url);
                        that.parent().find("[name=videoCover]").attr("src", url);
                        that.parent().find("[name=videoCover]").attr("width", "100px");
                        that.parent().find("[name=videoCover]").attr("height", "100px");
                        that.parent().find("[name=videoCover]").show();
                    } else if (type == "3") {
                        that.parent().find("[name=promptImage]").val(url);
                        that.parent().find("[name=promptImageThree]").attr("src", url);
                        that.parent().find("[name=promptImageThree]").attr("width", "100px");
                        that.parent().find("[name=promptImageThree]").attr("height", "100px");
                        that.parent().find("[name=promptImageThree]").show();
                    }
                    that.parent().find("img[name='okPic']").show();
                    $(".btn.btn-success.save").show();
                }, bl);
            }, type);
        } else {
            confirm("未选择任何文件!");
        }
    }

    function upload(param, token, file, next, error, complete, isVideo) {
        if (file == '') {
            complete('');
        } else {
            var filename = file.name;
            var postf = filename.substring(filename.lastIndexOf("."));

            var config = {
                useCdnDomain: true,
                region: qiniu.region.z0
            };
            if (isVideo) {
                var filename = file.name;
                var postf = filename.substring(filename.lastIndexOf("."));
                var putExtra = {
                    fname: "",
                    params: {"x:param": param},
                    mimeType: ["video/x-flv", "video/mp4", "video/3gpp", "video/quicktime", "video/x-msvideo", "video/x-ms-wmv"] || null
                };
                var newFileName = "video/wx/" + UUID.randomUUID() + postf;
                var observable = qiniu.upload(file, newFileName, token,
                    putExtra, config);
                observable.subscribe(next, error, complete);
            } else {
                var putExtra = {
                    fname: "",
                    params: {"x:param": param},
                    mimeType: ["image/png", "image/jpeg", "image/gif"] || null
                };
                /* var observable = qiniu.upload(file, "image/wx/"+UUID.randomUUID()+postf, token,
                        putExtra, config); */
                var fname = filename.replace(postf, "");
                var observable = qiniu.upload(file, "image/wx/" + param + "/" + (new Date().getTime()) + postf, token,
                    putExtra, config);
                var subscription = observable.subscribe(next, error, complete);
            }

        }
    }

    function getQNToken(cb, bol) {
        var param = {};
        if (bol == 1) {
            param["isVideo"] = 1;
        }
        $.get("/qiniu/token_video", param, function (token) {
            cb(token);
        });
    }

    var qiniuUrl = [[${qiniuUrl}]];
    var goodsId = [[${goodsId}]];
    var templateId = [[${templateId}]];
    var templateConfigId = [[${templateConfigId}]];
    /*<![CDATA[*/
    jQuery(document).ready(function ($) {
        if (goodsId != "") {
            $("#saveForm").find("input[name='goodsId']").val(goodsId);
        }
        if (templateConfigId != "") {
            $("#saveForm").find("input[name='templateConfigId']").val(templateConfigId);
        }
        if (goodsId != "" && templateId != "") {
            $.post("/template5_findone", {"goodsId": goodsId, "templateId": templateId}, function (data) {
                var template5 = data["template5"];
                var lock = data["lock"];
                var form = $("#saveForm");
                form.find("input[name='templateIdEdit']").val(template5["id"]);
                form.find("input[name='lockId']").val(lock["id"]);
                editTemplate(template5);
                editIslock(lock);
            });
        }
        $(".btn.btn-success.save").click(function () {
            var form = $("#saveForm");
            var type = form.find("input[name='type']:checked").val();
            var imageOneUrl = form.find("input[name='imageUnderUrl']").val();
            var imageTwoUrl = form.find("input[name='videoUrl']").val();
            var imageThreeUrl = form.find("input[name='videoCoverUrl']").val();
            var unlock = form.find("input[name='unlock']:checked").val();
            var subscribeCount = form.find("input[name='subscribeCount']").val();
            var promptText = form.find("textarea[name='promptText']").val();

            if (type == "0" && imageOneUrl == "") {
                toastr.error("底图为必填项", "温馨提示");
                return;
            }
            if (imageTwoUrl == "" || imageThreeUrl == "") {
                toastr.error("视频/视频封面为必填项", "温馨提示");
                return;
            }
            if (unlock == "1") {
                if (subscribeCount == "" || promptText == "") {
                    toastr.error("订阅数/提示文字为必填项", "温馨提示");
                    return;
                }
            }
            var postData = form.serializeArray();
            postData.push({"name": "templateId", "value": form.find("input[name='templateIdEdit']").val()});
            $.post("/template5_save", postData, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    setTimeout(function () {
                        window.close();
                    }, 1000);
                } else {
                    toastr.error("操作失败!", "温馨提示");
                }
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>