<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>新加模板</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/multiselect/css/multi-select.css"/>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">新加模板</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>
	<section class="content">
		<div class="panel-body">
			<div class="row">
			<form role="form" id="saveForm" class="form-horizontal">
				<input type="hidden" name="goodsId" />
				<input type="hidden" name="templateConfigId" />
				<input type="hidden" name="templateIdEdit" />
				<input type="hidden" name="lockId" />
				<input type="hidden" name="createTime" />
				<div class="form-group col-md-7">
					<label class="control-label">页面内切换形式</label>
					<div class="radio">
						<input name="type" type="radio" id="type_1" checked="checked" value="0"/>
						<label for="type_1">重叠</label>
						<input name="type" type="radio" id="type_2" value="1"/>
						<label for="type_2">不重叠</label>
					</div>
				</div>
				<div class="form-group col-md-7">
					<label class="control-label">背景图</label>
					<input type="file" id="imageUnderUrl" name="imageUnderFile" placeholder="底图" onchange="uploadMainFile(this,'0')"/>
					<img alt="" src="" name="imageUnder" style="display:none;" />
					<input type="hidden" class="form-control" name="imageUnderUrl" />
				</div>
				<div class="form-group col-md-7">
					<label class="control-label">前景图</label>
					<input type="file" id="imageTextUrl" name="imageTextFile" placeholder="文字图" onchange="uploadMainFile(this,'1')"/>
					<img alt="" src="" name="imageText" style="display:none;" />
					<input type="hidden" class="form-control" name="imageTextUrl" />
				</div>
				<div class="form-group col-md-7">
					<label class="control-label">浮窗位置</label>
					<div class="radio">
<!--						//** 浮窗位置[0-左下,1-左上,2-正局中,3-右上,4-右下] **/-->
						<input name="rollingPosition" type="radio" id="rollingPosition_1" value="0" checked="checked"/>
						<label for="rollingPosition_1">左下</label>
						<input name="rollingPosition" type="radio" id="rollingPosition_2" value="1"/>
						<label for="rollingPosition_2">左上</label>
						<input name="rollingPosition" type="radio" id="rollingPosition_3" value="2"/>
						<label for="rollingPosition_3">正居中</label>
						<input name="rollingPosition" type="radio" id="rollingPosition_4" value="3"/>
						<label for="rollingPosition_4">右上</label>
						<input name="rollingPosition" type="radio" id="rollingPosition_5" value="4"/>
						<label for="rollingPosition_5">右下</label>
					</div>
				</div>
				<div class="form-group col-md-7">
					<label class="control-label">浮窗形式</label>
					<div class="radio">
						<input name="rollingType" type="radio" id="rollingType_1" value="0" checked="checked" onclick="rollingTypeRadio('0')"/>
						<label for="rollingType_1">图片形式</label>
						<input name="rollingType" type="radio" id="rollingType_2" value="1" onclick="rollingTypeRadio('1')"/>
						<label for="rollingType_2">文本形式</label>
					</div>
				</div>
				<div class="form-group col-md-7" id="rollingImageUrlDiv">
					<input type="file" name="rollingImageFile" placeholder="滚动区域图片" onchange="uploadMainFile(this,'2')"/>
					<img alt="" src="" id="rollingImage" name="rollingImage" style="display:none;" />
					<input type="hidden" class="form-control" id="rollingImageUrl" name="rollingImageUrl" />
				</div>
				<div class="form-group col-md-7" id="rollingTxt" style="display: none">
					<textarea class="form-control" rows="3" id="rollingText" name="rollingText"></textarea>
				</div>
				<div class="form-group col-md-7">
					<label class="control-label">提示文字</label>
					<input type="text" class="form-control" id="promptText" name="promptText"/>
				</div>
				<div class="form-group col-md-7">
					<label class="control-label">解锁</label>
					<div class="radio">
						<input name="islock" type="radio" id="unlock_2" value="0" onclick="unlockRadio('0')"/>
						<label for="unlock_2">解锁条件</label>
						<input name="islock" type="radio" id="unlock_1" value="1" checked="checked" onclick="unlockRadio('1')"/>
						<label for="unlock_1">开放</label>
					</div>
				</div>
				<div class="form-group col-md-7" id="unlockText" style="display: none">
					<label class="control-label">订阅数</label>
					<input type="text" class="form-control" id="subscribeCount" name="subscribeCount"/>
				</div>
				<div class="actions clearfix">
					<button type="button" class="btn btn-success save">保存</button>
				</div>
			</form>
			</div>
		</div>
	</section>
	</div>

	<footer th:replace="footer"></footer>
</div>

<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/multiselect/js/jquery.multi-select.js"></script>
<script th:inline="javascript">

	function unlockRadio(type) {
		if (type == "0"){
			$("#unlockText").show();
		}else {
			$("#unlockText").hide();
			$("#promptText").val("");
            $("#subscribeCount").val("");
		}
	}
	
	function rollingTypeRadio(type) {
		if (type == "0"){
			$("#rollingTxt").hide();
			$("#rollingImageUrlDiv").show();
			$("#rollingText").val("");
		}else {
			$("#rollingImageUrlDiv").hide();
			$("#rollingTxt").show();
			$("#rollingImage").attr("src", "");
			$("#rollingImageUrl").val("");
		}
	}

	function uploadMainFile(self,type) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					if (type == "0"){
						that.parent().find("[name=imageUnderUrl]").val(url);
						that.parent().find("[name=imageUnder]").attr("src", url);
						that.parent().find("[name=imageUnder]").attr("width", "100px");
						that.parent().find("[name=imageUnder]").attr("height", "100px");
						that.parent().find("[name=imageUnder]").show();
					}else if (type == "1"){
						that.parent().find("[name=imageTextUrl]").val(url);
						that.parent().find("[name=imageText]").attr("src", url);
						that.parent().find("[name=imageText]").attr("width", "100px");
						that.parent().find("[name=imageText]").attr("height", "100px");
						that.parent().find("[name=imageText]").show();
					}else if (type == "2"){
						that.parent().find("[name=rollingImageUrl]").val(url);
						that.parent().find("[name=rollingImage]").attr("src", url);
						that.parent().find("[name=rollingImage]").attr("width", "100px");
						that.parent().find("[name=rollingImage]").attr("height", "100px");
						that.parent().find("[name=rollingImage]").show();
					}
				});
			});
		} else {
			confirm("未选择任何文件!");
		}
	}

	function upload(param, token, file, next, error, complete) {
		if (file == '') {
			complete('');
		} else {
			var filename = file.name;
			var postf = filename.substring(filename.lastIndexOf("."));

			var config = {
				useCdnDomain: true,
				region: qiniu.region.z0
			};
			var putExtra = {
				fname: "",
				params: {"x:param": param},
				mimeType: ["image/png", "image/jpeg", "image/gif"] || null
			};
			/* var observable = qiniu.upload(file, "image/wx/"+UUID.randomUUID()+postf, token,
                    putExtra, config); */
			var fname = filename.replace(postf, "");
			var observable = qiniu.upload(file, "image/wx/" + param + "/" + (new Date().getTime()) + postf, token,
					putExtra, config);
			var subscription = observable.subscribe(next, error, complete);
		}
	}

	function getQNToken(cb) {
		$.get("/qiniu/token", {}, function (token) {
			cb(token);
		});
	}
	
	function editTemplate(data) {
		var form = $("#saveForm");
		form.find("input[name=type][value="+data["type"]+"]").attr("checked",true);
		form.find("input[name=rollingType][value="+data["rollingType"]+"]").attr("checked",true);
		form.find("input[name=rollingPosition][value="+data["rollingPosition"]+"]").attr("checked",true);
		form.find("input[name='imageUnderUrl']").val(data["imageUnderUrl"]);
		form.find("input[name='createTime']").val(new Date(data["createTime"]).Format("yyyy-MM-dd hh:mm:ss"));
		form.find("[name=imageUnder]").attr("src", data["imageUnderUrl"]);
		form.find("[name=imageUnder]").attr("width", "100px");
		form.find("[name=imageUnder]").attr("height", "100px");
		form.find("[name=imageUnder]").show();
		form.find("input[name='imageTextUrl']").val(data["imageTextUrl"]);
		form.find("[name=imageText]").attr("src", data["imageTextUrl"]);
		form.find("[name=imageText]").attr("width", "100px");
		form.find("[name=imageText]").attr("height", "100px");
		form.find("[name=imageText]").show();
		if (data["rollingType"] == "0"){
			$("#rollingTxt").hide();
			$("#rollingImageUrlDiv").show();
			$("#rollingText").val("");
			form.find("input[name='rollingImageUrl']").val(data["rollingImageUrl"]);
			form.find("[name=rollingImage]").attr("src", data["rollingImageUrl"]);
			form.find("[name=rollingImage]").attr("width", "100px");
			form.find("[name=rollingImage]").attr("height", "100px");
			form.find("[name=rollingImage]").show();
		}else {
			$("#rollingImageUrlDiv").hide();
			$("#rollingTxt").show();
			$("#rollingImage").attr("src", "");
			$("#rollingImageUrl").val("");
			form.find("textarea[name='rollingText']").val(data["rollingText"]);
		}

	}

	function editIslock(data) {
		var form = $("#saveForm");
		form.find("input[name=islock][value="+data["islock"]+"]").attr("checked",true);
		if (data["islock"] == "0"){
			$("#unlockText").show();
			form.find("input[name='promptText']").val(data["promptText"]);
			form.find("input[name='subscribeCount']").val(data["subscribeCount"]);
		}else {
			$("#unlockText").hide();
			$("#promptText").val("");
			$("#subscribeCount").val("");
		}
	}
	var qiniuUrl = [[${qiniuUrl}]];
	var goodsId = [[${goodsId}]];
	var templateId = [[${templateId}]];
	var templateConfigId = [[${templateConfigId}]];
	/*<![CDATA[*/
	jQuery(document).ready(function ($) {
		if (goodsId != ""){
			$("#saveForm").find("input[name='goodsId']").val(goodsId);
		}
		if (templateConfigId != ""){
			$("#saveForm").find("input[name='templateConfigId']").val(templateConfigId);
		}
		if (goodsId != "" && templateId != ""){
			$.post("/template1_findone",{"goodsId":goodsId,"templateId":templateId},function (data) {
				template1 = data["template1"];
				lock = data["lock"];
				var form = $("#saveForm");
				form.find("input[name='templateIdEdit']").val(template1["id"]);
				form.find("input[name='lockId']").val(lock["id"]);
				editTemplate(template1);
				editIslock(lock);
			});
		}
		$(".btn.btn-success.save").click(function () {
			var form = $("#saveForm");
			var type = form.find("input[name='type']:checked").val();
			var imageUnderUrl = form.find("input[name='imageUnderUrl']").val();
			var imageTextUrl = form.find("input[name='imageTextUrl']").val();
			var rollingType = form.find("input[name='rollingType']:checked").val();
			var rollingImageUrl = form.find("input[name='rollingImageUrl']").val();
			var rollingText = form.find("textarea[name='rollingText']").val();
			var unlock = form.find("input[name='islock']:checked").val();
			var subscribeCount = form.find("input[name='subscribeCount']").val();
			var promptText = form.find("input[name='promptText']").val();
			if (type == "" || imageUnderUrl == "" || imageTextUrl == "") {
				toastr.error("类型/底图/文字图为必填项", "温馨提示");
				return;
			}
			if (rollingType == "0" && rollingImageUrl ==""){
				toastr.error("滚动区域图片为必填项", "温馨提示");
				return;
			}else if (rollingType == "1" && rollingText =="" || rollingText == null){
				toastr.error("滚动区域文字为必填项", "温馨提示");
				return;
			}
			if(unlock == "0") {
				if (subscribeCount == ""){
					toastr.error("订阅数/提示文字为必填项", "温馨提示");
					return;
				}
			}
			var postData = $("#saveForm").serializeArray();
			postData.push({"name": "templateId", "value": form.find("input[name='templateIdEdit']").val()});
			$.post("/template1_save",postData,function (data) {
				if (data){
					toastr.success("操作已成功！", "温馨提示");
				}else {
					toastr.error("操作失败!", "温馨提示");
					return;
				}
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>